<%- include('../partials/header') %>

<h1>About This Website</h1>

<img src="/images/solar-system.webp" class="img-fluid rounded mb-3" alt="The solar system">

<p>This website is about the solar system and some of the planets that make it such an interesting part of astronomy.</p>
<p>I chose this topic because I enjoy learning about space, planets, and the universe.</p>
<p>The goal of this website is to share basic information about the inner and outer planets in a simple and creative way.</p>
<p>The solar system is an exciting topic because each planet has unique features and helps us better understand space.</p>
<p>This project also helped me practice using Node.js, Express.js, and EJS templates to build a multi-page website.</p>

<p>Image source: <a href="https://solarsystem.nasa.gov/" target="_blank" rel="noopener noreferrer">NASA Solar System Exploration</a></p>

<%- include('../partials/footer') %>